@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap");
body {
  font-family: "Playfair Display", serif;
  line-height: 100px;
  text-align: center;
  background-color: #5e5f92;
  color: white;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*section h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 140px;
}*/

#overlay {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 0;
}

#overlay h1 {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 40px;
  height: 30px;
}
#overlay p {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 10px;
  height: 30px;
}

section {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
}

section img {
  width: 100%;
}

div {
  transform: scale(1.9);
}

@media only screen and (min-width: 320px) {
  #overlay {
    top: 70%;
    left: 0;
  }
  #overlay h1 {
    font-size: 10px;
  }
  #overlay p {
    letter-spacing: 1px;
    font-size: 8px;
    height: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #overlay h1 {
    font-size: 20px;
  }
  #overlay p {
    letter-spacing: 4px;
    font-size: 9px;
    height: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #overlay {
    top: 75%;
    left: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #overlay {
    top: 70%;
    left: 0;
  }
  #overlay h1 {
    font-size: 30px;
  }
  #overlay p {
    letter-spacing: 4px;
    font-size: 10px;
    height: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  #overlay {
    top: 50%;
    left: 0;
  }

  #overlay h1 {
    letter-spacing: 4px;
    font-size: 40px;
    height: 30px;
  }
  #overlay p {
    letter-spacing: 4px;
    font-size: 10px;
    height: 30px;
  }
}
